# line comment 1
; line comment 2
[UnknownSection]
UnknownOption1 = hoge # 日本語
UnknownOption2=hoge # no space before and after '='
WrappedLine = foo bar \
  aaa bbb ccc # wrapped line
X-prefixed-options1 =

[Unit]
Description=Service sample Description ; comment
Documentation=http://doc.example.com https://doc.example.com file:///usr/shared/doc/sample
Documentation = info:sample.service man:sample.service
Documentation =   # empty string to reset prior settings
Requires=requires1.service requires2.service
Requires = requires3.service
RequiresOverridable = test for specifiers %n %N %p %P %i %I %f %c %r %R %t %u %U %h %s %m %b %H %v %%
Requisite = should not recognized as specifiers: %a %no
RequisiteOverridable = true false on off yes no
Wants =
BindsTo =
PartOf =
Conflicts =
Before =
After =
OnFailure =
PropagatesReloadTo =
ReloadPropagatedFrom =
JoinsNamespaceOf =
RequiresMountsFor = fail replace replace-irreversibly isolate flush ignore-dependencies ignore-requirements
IgnoreOnIsolate =
IgnoreOnSnapshot =
StopWhenUnneeded =
RefuseManualStart =
RefuseManualStop =
AllowIsolate =
DefaultDependencies =
JobTimeoutSec = 10 50s 3min 1h 2d 3w 4ms 500us
JobTimeoutAction =
JobTimeoutRebootArgument
ConditionArchitecture = x86 !x86 x86-64 !x86-64 arm arm-be arm64 arm64-be native
ConditionVirtualization = qemu kvm zvm vmware microsoft oracle xen bochs uml openvz lxc-libvirt lxc systemd-nspawn docker
ConditionHost =
ConditionKernelCommandLine =
ConditionSecurity = selinux apparmor ima smack audit
ConditionCapability =
ConditionACPower =
ConditionNeedsUpdate =
ConditionFirstBoot =
ConditionPathExists =
ConditionPathExistsGlob =
ConditionPathIsDirectory =
ConditionPathIsSymbolicLink =
ConditionPathIsMountPoint =
ConditionPathIsReadWrite =
ConditionDirectoryNotEmpty =
ConditionFileNotEmpty =
ConditionFileIsExecutable =
AssertArchitecture =
AssertVirtualization =
AssertHost =
AssertKernelCommandLine =
AssertSecurity =
AssertCapability =
AssertACPower =
AssertNeedsUpdate =
AssertFirstBoot =
AssertPathExists =
AssertPathExistsGlob =
AssertPathIsDirectory =
AssertPathIsSymbolicLink =
AssertPathIsMountPoint =
AssertPathIsReadWrite =
AssertDirectoryNotEmpty =
AssertFileNotEmpty =
AssertFileIsExecutable =
SourcePath =
KillMode=
KillSignal=
SendSIGHUP=
SendSIGKILL=
FinalKillSignal=
WatchdogSignal=

[Install]
Alias =
WantedBy =
RequiredBy =
Also =
DefaultInstance =

[Service]
Type = simple forking oneshot dbus notify idle
RemainAfterExit =
GuessMainPID =
PIDFile =
BusName =
BusPolicy = see talk own
ExecStartPre =
ExecStartPost =
ExecStart =
ExecReload =
ExecStop =
RestartSec =
TimeoutStartSec =
TimeoutStopSec =
TimeoutSec =
WatchdogSec =
Restart = no always on-success on-failure on-abnormal on-abort on-watchdog
SuccessExitStatus = SIGHUP SIGINT SIGTERM SIGPIPE
RestartPreventExitStatus =
RestartForceExitStatus =
PermissionsStartOnly =
RootDirectoryStartOnly =
NonBlocking =
NotifyAccess = none main all
Sockets =
StartLimitInterval =
StartLimitBurst =
StartLimitAction = none reboot-force reboot-immediate reboot poweroff-force poweroff-immediate poweroff
FailureAction =
RebootArgument =
FileDescriptorStoreMax =
KillMode=
KillSignal=
SendSIGHUP=
SendSIGKILL=
FinalKillSignal=
WatchdogSignal=
# Resource control options
CPUAccounting =
CPUWeight =
StartupCPUWeight =
CPUQuota =
CPUQuotaPeriodSec =
AllowedCPUs =
StartupAllowedCPUs =
MemoryAccounting =
MemoryMin =
MemoryLow =
StartupMemoryLow =
DefaultStartupMemoryLow =
MemoryHigh =
StartupMemoryHigh =
MemoryMax =
StartupMemoryMax =
MemorySwapMax =
StartupMemorySwapMax =
MemoryZSwapMax =
StartupMemoryZSwapMax =
MemoryZSwapWriteback =
AllowedMemoryNodes =
StartupAllowedMemoryNodes =
TasksAccounting =
TasksMax =
IOAccounting =
IOWeight =
StartupIOWeight =
IODeviceWeight =
IOReadBandwidthMax =
IOWriteBandwidthMax =
IOReadIOPSMax =
IOWriteIOPSMax =
IODeviceLatencyTargetSec =
IPAccounting =
IPAddressAllow =
IPAddressDeny =
SocketBindAllow =
SocketBindDeny =
RestrictNetworkInterfaces =
NFTSet =
IPIngressFilterPath =
IPEgressFilterPath =
BPFProgram =
DeviceAllow =
DevicePolicy =
Slice =
Delegate =
DelegateSubgroup =
DisableControllers =
ManagedOOMSwap =
ManagedOOMMemoryPressure =
ManagedOOMMemoryPressureLimit =
ManagedOOMMemoryPressureDurationSec =
ManagedOOMPreference =
MemoryPressureWatch =
MemoryPressureThresholdSec =
CoredumpReceive =

[Socket]
ListenStream =
ListenDatagram =
ListenSequentialPacket =
ListenFIFO =
ListenSpecial =
ListenNetlink =
ListenMessageQueue =
BindIPv6Only = default both ipv6-only
Backlog =
BindToDevice =
SocketUser =
SocketGroup =
SocketMode =
DirectoryMode =
Accept =
MaxConnections =
KeepAliveTimeSec =
KeepAliveIntervalSec =
KeepAliveProbes =
KeepAlive =
NoDelay =
Priority =
DeferAcceptSec =
ReceiveBuffer =
SendBuffer =
IPTOS =
IPTTL =
Mark =
ReusePort =
SmackLabelIPIn =
SmackLabelIPOut =
SmackLabel =
SELinuxContextFromNet =
PipeSize =
MessageQueueMaxMessages =
MessageQueueMessageSize =
FreeBind =
Transparent =
Broadcast =
PassCredentials =
PassSecurity =
TCPCongestion =
ExecStartPre =
ExecStartPost =
ExecStopPre =
ExecStopPost =
TimeoutSec =
Service =
RemoveOnStop =
Symlinks =
KillMode=
KillSignal=
SendSIGHUP=
SendSIGKILL=
FinalKillSignal=
WatchdogSignal=

[Mount]
What =
Where =
Type =
Options =
SloppyOptions =
DirectoryMode =
TimeoutSec =
KillMode=
KillSignal=
SendSIGHUP=
SendSIGKILL=
FinalKillSignal=
WatchdogSignal=

[Automount]
Where =
DirectoryMode =
TimeoutIdleSec =

[Swap]
What =
Priority =
Options =
TimeoutSec =
KillMode=
KillSignal=
SendSIGHUP=
SendSIGKILL=
FinalKillSignal=
WatchdogSignal=

[Path]
PathExists =
PathExistsGlob =
PathChanged =
PathModified =
DirectoryNotEmpty =
Unit =
MakeDirectory =
DirectoryMode =

[Timer]
OnActiveSec =
OnBootSec =
OnStartupSec =
OnUnitActiveSec =
OnUnitInactiveSec =
OnCalendar =
AccuracySec =
RandomizedDelaySec =
Unit =
Persistent =
WakeSystem =

[Container]
AddCapability=CAP
AddDevice=/dev/foo
AddHost=example.com:192.168.10.11
Annotation=”XYZ”
AutoUpdate=registry
CgroupsMode=no-conmon
ContainerName=name
ContainersConfModule=/etc/nvd.conf
DNS=192.168.55.1
DNSOption=ndots:1
DNSSearch=example.com
DropCapability=CAP
Entrypoint=/foo.sh
Environment=foo=bar
EnvironmentFile=/tmp/env
EnvironmentHost=true
Exec=/usr/bin/command
ExposeHostPort=50-59
GIDMap=0:10000:10
GlobalArgs=--log-level=debug
Group=1234
GroupAdd=keep-groups
HealthCmd=/usr/bin/command
HealthInterval=2m
HealthLogDestination=/foo/log
HealthMaxLogCount=5
HealthMaxLogSize=500
HealthOnFailure=kill
HealthRetries=5
HealthStartPeriod=1m
HealthStartupCmd=command
HealthStartupInterval=1m
HealthStartupRetries=8
HealthStartupSuccess=2
HealthStartupTimeout=1m33s
HealthTimeout=20s
HostName=example.com
Image=ubi8
IP=192.5.0.1
IP6=2001:db8::1
Label=”XYZ”
LogDriver=journald
LogOpt=path=/var/log/mykube.json
Mask=/proc/sys/foo:/proc/sys/bar
Memory=20g
Mount=type=…
Network=host
NetworkAlias=name
NoNewPrivileges=true
Notify=true
PidsLimit=10000
Pod=pod-name
PodmanArgs=--publish 8080:80
PublishPort=8080:80
Pull=never
ReadOnly=true
ReadOnlyTmpfs=true
ReloadCmd=/usr/bin/command
ReloadSignal=SIGHUP
Retry=5
RetryDelay=5s
Rootfs=/var/lib/rootfs
RunInit=true
SeccompProfile=/tmp/s.json
Secret=secret
SecurityLabelDisable=true
SecurityLabelFileType=usr_t
SecurityLabelLevel=s0:c1,c2
SecurityLabelNested=true
SecurityLabelType=spc_t
ShmSize=100m
StartWithPod=true
StopSignal=SIGINT
StopTimeout=20
SubGIDMap=gtest
SubUIDMap=utest
Sysctl=name=value
Timezone=local
Tmpfs=/work
UIDMap=0:10000:10
Ulimit=nofile=1000:10000
Unmask=ALL
User=bin
UserNS=keep-id:uid=200,gid=210
Volume=/source:/dest
WorkingDir=$HOME

[Pod]
AddHost=example.com:192.168.10.11
ContainersConfModule=/etc/nvd.conf
DNS=192.168.55.1
DNSOption=ndots:1
DNSSearch=example.com
ExitPolicy=stop
GIDMap=0:10000:10
GlobalArgs=--log-level=debug
HostName=name
IP=192.5.0.1
IP6=2001:db8::1
Label=”XYZ”
Network=host
NetworkAlias=name
PodmanArgs=--cpus=2
PodName=name
PublishPort=8080:80
ServiceName=name
ShmSize=100m
SubGIDMap=gtest
SubUIDMap=utest
UIDMap=0:10000:10
UserNS=keep-id:uid=200,gid=210
Volume=/source:/dest

[Kube]
AutoUpdate=registry
ConfigMap=/tmp/config.map
ContainersConfModule=/etc/nvd.conf
ExitCodePropagation=how
GlobalArgs=--log-level=debug
KubeDownForce=true
LogDriver=journald
Network=host
PodmanArgs=--annotation=key=value
PublishPort=8080:80
SetWorkingDirectory=yaml
UserNS=keep-id:uid=200,gid=210
Yaml=/tmp/kube.yaml

[Network]
ContainersConfModule=/etc/nvd.conf
DisableDNS=true
DNS=192.168.55.1
Driver=bridge
Gateway=192.168.55.3
GlobalArgs=--log-level=debug
InterfaceName=enp1
Internal=true
IPAMDriver=dhcp
IPRange=192.168.55.128/25
IPv6=true
Label=”XYZ”
NetworkDeleteOnStop=true
NetworkName=foo
Options=isolate=true
PodmanArgs=--dns=192.168.55.1
Subnet=192.5.0.0/16

[Volume]
ContainersConfModule=/etc/nvd.conf
Copy=true
Device=tmpfs
Driver=image
GlobalArgs=--log-level=debug
Group=192
Image=quay.io/centos/centos:latest
Label=”foo=bar”
Options=XYZ
PodmanArgs=--driver=image
Type=type
User=123
VolumeName=foo

[Build]
Annotation=annotation=value
Arch=aarch64
AuthFile=/etc/registry/auth.json
ContainersConfModule=/etc/nvd.conf
DNS=192.168.55.1
DNSOption=ndots:1
DNSSearch=example.com
Environment=foo=bar
File=/path/to/Containerfile
ForceRM=false
GlobalArgs=--log-level=debug
GroupAdd=keep-groups
ImageTag=localhost/imagename
Label=label
Network=host
PodmanArgs=--pull never
Pull=never
Retry=5
RetryDelay=10s
Secret=secret
SetWorkingDirectory=unit
Target=my-app
TLSVerify=false
Variant=arm/v7
Volume=/source:/dest

[Image]
AllTags=true
Arch=aarch64
AuthFile=/etc/registry/auth.json
CertDir=/etc/registry/certs
ContainersConfModule=/etc/nvd.conf
Creds=myname:mypassword
DecryptionKey=/etc/registry.key
GlobalArgs=--log-level=debug
Image=quay.io/centos/centos:latest
ImageTag=quay.io/centos/centos:latest
OS=windows
PodmanArgs=--os=linux
Retry=5
RetryDelay=10s
TLSVerify=false
Variant=arm/v7

[Quadlet]
DefaultDependencies=false
